.aboutUs {
  text-align: center;
  color: white;
  margin-top: 20px;
}

h3 {
  color: white;
}

.aboutUsDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.vasco,
.victor {
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  width: 300px;
}

.vasco img,
.victor img {
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

p {
  color: #555;
  line-height: 1.5;
}

.gitHub,
.Linkedin {
  margin-top: 10px;
  display: inline-block;
}

.gitHub img,
.Linkedin img {
  background: white;
  max-width: 30px;
  margin-right: 10px;
  transition: transform 0.2s ease-in-out;
}

.gitHub img:hover,
.Linkedin img:hover {
  transform: scale(1.2);
}
