body {
  background-color: black;
  color: white;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.pokemon-container {
  margin-top: 50px;
  margin-bottom: -50px;
  display: flex;
  flex-direction: column;
  border-left: 2px solid yellow;
  border-right: 2px solid yellow;
  border-bottom: 2px solid #356abc;
  border-top: 2px solid #356abc;
  width: 300px;
  background-color: black;
  color: white;
}

.pokemon-image img {
  width: 100%;
  height: auto;
}

.pokemon-details {
  padding: 10px;
  text-align: center;
}

.pokemon-name {
  margin-bottom: 50px;
}

.pokemon-type {
  margin-top: 15px;
}

.pokemon-details strong {
  color: red;
}

@media (max-width: 600px) {
  .pokemon-container {
    width: 100%;
  }
}
