/* body {
  background-color: black;
  color: white;
} */

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.pokemon-container {
  margin-top: 50px;
  margin-bottom: -50px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 300px;
  background-color: black;
  color: white;
}

.pokemon-DetailsPage-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemon-image {
  width: 600px;
  height: 600px;
}

.pokemon-details {
  padding: 10px;
  text-align: center;
}

.pokemon-name {
  margin-bottom: 50px;
}

.pokemon-type {
  margin-top: 15px;
}

.pokemon-details strong {
  color: red;
}

@media (max-width: 600px) {
  .pokemon-container {
    width: 100%;
  }
}
